<h2>In Progress</h2>

<div>
  <ul class="batches">
    <li *ngFor="let batch of batches">
      <a routerLink="/detail/{{batch.id}}">
        <button type="button">
          <span class="badge">{{batch.id}}</span>
          <span class="complete"> {{batch.complete}}</span>
        </button>
      </a>
    </li>
  </ul>
</div>

<div>
  <button type="button" class="add-button" (click)="add()">+</button>
  <button type="button" class="delete-button" (click)="deleteAll()">Delete Workload</button>
</div>
